* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
 }
/* header style */
.banner{
    background: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    
    text-align: right;
}
.banner-title{
    text-align: right; 
    font-weight: 700;
    font-size: 65px;
    width: 525px;
    height: 228px;
    margin-left: 845px;
    margin-top: 0%;
    margin-bottom: 24px;
    margin-right: 230px;
    padding-top: 200px;
}
.banner-subtitle{
   text-align: right;
   font-weight: 400 ;
   font-size: 16px;
   width: 494px;
   height: 78px;
   margin-left: 876px;
   margin-right: 230px;
   margin-bottom: 32px;
   color: #444343;

}
.button-primary{
    text-align: center;
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 1210px;
    margin-right: 230px;
    margin-bottom: 167px;
    border: none;
}
/* my-failures-of-previous-year style */
.my-failures-of-previous-year{
    /* background: url(../images/person.png); */
    background-repeat: no-repeat;
    display: flex;
    gap: 57px;
    padding-top: 132px;
    padding-left: 206px;
    padding-right: 322px;
}
.section-background-img{
    width: 569px;
    height: 723.3px;
    background-repeat: no-repeat;
    display: flex;
    /* width: 527.93px; */
    /* height: 527.93px; */
    /* border-radius:50% ; */
    /*  background: rgba(241, 91, 34, 0.2); */
}
.section-title h2{
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 30px;
    text-align: right;
    margin-bottom: 24px; 
    margin-top: 132px;
}
.section-subtitle h3{
    width: 416px;
    height: 104px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

 nav p img{
    width: 24px;
    height: 24px;
    margin-top: 8px;
    
 }
